.CardList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.CardList-container h1 {
  margin: 3.5rem 2% 1rem;
}

.card-container {
  border-radius: 5%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 1.3rem;
  background-color: white;
  max-width: 420px;
}

.small-card-container {
  width: 90vw;
  display: flex;
  margin: 0 auto 1rem;
  background-color: transparent;
  max-width: 560px;
}

.block {
  align-self: flex-start;
  margin-left: auto;
}