html {
  font-size: 15px;
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 18px;
  }
}

input:focus {
  outline: none;
}

.hover-zoom--colorize {
  transition: transform 0.1s, filter 0.3s ease-in-out;
  filter: grayscale(100%);
}

.hover-zoom--colorize:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* Reusable class style for image container: */
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: white;
}

.image-container img {
  width: 100%;
}

.App {
  font-family: 'Work Sans', sans-serif;
  background-color: rgb(240, 240, 240);
}

.drop-shadow {
  border-radius: 5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: transparent;
}

.drop-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
