.image-container {
  margin-bottom: 1rem;
  border-radius: 5%;
}

.text-container {
  margin-bottom: 0.1rem;
  padding: 0.4rem 0.4rem 0.5rem;
  background-color: white;
}

.LargeCard h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(89, 89, 89);
  margin-bottom: 0.6rem;
}